{
  "presets": [["env", { "loose": true, "modules": false }], "react"],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "cjs": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}